APP_NAME=yourAppName
APP_VER=1.0
APP_REL=2026-03-13
APP_PORT=8089

MARIADB_VERSION=11.4
MARIADB_LOCAL_DIR=./mariadb/data
MARIADB_DATA_DIR=${MARIADB_LOCAL_DIR}/lib
MARIADB_CONF_DIR=${MARIADB_LOCAL_DIR}/conf
MARIADB_ETC_DIR=${MARIADB_LOCAL_DIR}/etc/mysql

MYSQL_ROOT_PASSWORD=YOUR_VERY_SECRET_PASSWORD
MYSQL_DATABASE=mariadb
MYSQL_USER=mariauser
MYSQL_PASSWORD=YOUR_VERY_SECRET_PASSWORD
MYSQL_PORT=3309

NEXT_SRC=./nextcloud
NEXT_CONFIG=${NEXT_SRC}/config
NEXT_CUSTOM_APPS=${NEXT_SRC}/custom_apps
NEXT_DATA=${NEXT_SRC}/data
NEXT_THEMES=${NEXT_SRC}/themes

REDIS_PORT=6379
COLLABORA_PORT=9989
